---
title: NYC Musicians, Singers & Songwriters Songbook
---

<table class="table table-sm">
  <thead>
  <tr>
    <th>Song</th>
    <th>Page</th>
  </tr>
  </thead>
  <tbody>
  <% data.songs.reject { |song| song['chordpro'].nil? }.each_with_index do |song, index| %>
    <tr>
      <td><%= song.title %></td>
      <td><%= index * 2 + 2 %></td>
    </tr>
  <% end %>
  </tbody>
</table>

