---
title: Chattanooga Meetup
---

<h2>When do you meet?</h2>

<p>We meet every other Wednesday evening at 6pm CT, weather permitting.</p>

<h2>Where do you meet?</h2>

<p>We meet in Coolidge Park in Chattanooga, TN.</p>

<p>Currently we play under the Market Street/John Ross Bridge.</p>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD31joU5dSCXczzLxJ5aE3cB-_wEa5Oe9U
    &q=35.0608,-85.3088&zoom=18">
</iframe>

<h2>What should I bring?</h2>

<ul>
  <li>An instrument, your singing voice or both!</li>
  <li>A chair to sit on (if you don't want to stand)</li>
  <li>A music stand (if you have one)</li>
</ul>

<p>The host will provide several copies of the songbook for reference.</p>

<h2>What if it rains?</h2>

<p>If there's rain in the forecast 2-3 hours before the meetup then we will likely cancel.</p>

<h2>How can I connect with others in the meetup?</h2>

<p>We currently have two online groups you can join to chat and coordinate with others:</p>

<ul>
  <li><a href="https://www.facebook.com/groups/3260730884059610">Facebook Group</a></li>
  <li><a href="https://groupme.com/join_group/99850258/7CqilUbm">GroupMe Group</a></li>
</ul>
