---
title: Chattanooga Meetup
---

<h2>How can I connect with others in the meetup?</h2>

<p>You can find us on <a href="https://discord.gg/VEpjFA9qBV">our Discord Server</a>.</p>

<h2>When do you meet?</h2>

<p>We meet every other Wednesday evening at 6:30pm ET.</p>

<h2>Where do you meet?</h2>

<p>We meet in Coolidge Park in Chattanooga, TN. We play under the Market Street/John Ross Bridge.</p>

<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD31joU5dSCXczzLxJ5aE3cB-_wEa5Oe9U
    &q=35.0608,-85.3088&zoom=18">
</iframe>

<h2>What should I bring?</h2>

<ul>
  <li>An instrument, your singing voice or both!</li>
  <li>A chair to sit on (if you don't want to stand)</li>
  <li>A music stand (if you have one)</li>
  <li>A capo (if you have a stringed instrument)</li>
</ul>

<p>The host will provide several copies of the songbook for reference.</p>

<h2>What if it rains?</h2>

<p>We play under the bridge which protects us from light rain. If there's heavy rain or thunderstorms in the forecast 2-3 hours before the meetup then we will likely cancel.</p>

