---
title: NYC Musicians, Singers & Songwriters
---

<p class="lead">This is a group for anyone interested in getting together for jams and/or working on their songwriting together. All skill levels are welcome. All instruments are welcome.</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/songs" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-th-list fa-fw"></i> Songs
      </a>
    </p>
    <p>
      <a href="/pdfs/mss-songbook.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-download fa-fw"></i> Download Songbook
      </a>
    </p>
    <p>
      <a href="/where-we-meet" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-map fa-fw"></i> Jam Locations
      </a>
    </p>
    <p>
      <a href="https://www.meetup.com/nycmss/" class="btn btn-primary btn-lg btn-block">
        <i class="fab fa-meetup fa-fw"></i> Meetup Group
      </a>
    </p>
  </div>
</div>
