---
title: Musicians, Singers & Songwriters Meetups
---

<p class="lead">These are meetups for anyone interested in getting together for jams and/or working on their songwriting
  together. All skill levels are welcome. All instruments are welcome. We currently have groups in
  <a href="https://mss-cha.eventbrite.com">Chattanooga, TN</a> and <a href="https://mss-fort-payne.eventbrite.com/">Fort Payne, AL</a>.</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/songs" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-th-list fa-fw"></i> Songs
      </a>
    </p>
    <p>
      <a href="/pdfs/mss-guitar.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-book fa-fw"></i> Download Guitar Songbook
      </a>
    </p>
    <p>
      <a href="/pdfs/mss-ukulele.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-book fa-fw"></i> Download Ukulele Songbook
      </a>
    </p>
    <p>
      <a href="https://mss-cha.eventbrite.com" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-users fa-fw"></i> Chattanooga Group
      </a>
    </p>
    <p>
      <a href="https://mss-fort-payne.eventbrite.com/" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-users fa-fw"></i> Fort Payne Group
      </a>
    </p>
  </div>
</div>
