---
title: Musicians, Singers & Songwriters Meetups
---

<p class="lead">These are meetups for anyone interested in getting together for jams and/or working on their songwriting
  together. All skill levels are welcome. All instruments are welcome. We currently have a group in
  <a href="/chattanooga">Chattanooga, TN</a>.</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/songs" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-music fa-fw"></i> Songs
      </a>
    </p>
    <p>
      <a href="/pdfs/mss-guitar.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-file-pdf fa-fw"></i> Guitar Songbook
      </a>
    </p>
    <p>
      <a href="/pdfs/mss-ukulele.pdf" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-file-pdf fa-fw"></i> Ukulele Songbook
      </a>
    </p>
    <p>
      <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz" class="btn btn-primary btn-lg btn-block">
        <i class="fab fa-spotify fa-fw"></i> Spotify Playlist
      </a>
    </p>
    <p>
      <a href="https://music.apple.com/us/playlist/musicians-singers-songwriters/pl.u-rK7kEtYrPA7" class="btn btn-primary btn-lg btn-block">
        <i class="fab fa-apple fa-fw"></i> Apple Music Playlist
      </a>
    </p>
    <p>
      <a href="/chattanooga" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-users fa-fw"></i> Chattanooga Meetup
      </a>
    </p>
    <p>
      <a href="https://pixelfed.social/mss" class="btn btn-primary btn-lg btn-block">
        <i class="fas fa-camera fa-fw"></i> pixelfed
      </a>
    </p>
  </div>
</div>
