---
title: Musicians, Singers & Songwriters Meetups
---

<div class="row">
  <div class="col-md-6">
    <p class="lead">These are meetups for anyone interested in getting together for jams and/or working on their songwriting
      together. All skill levels are welcome. All instruments are welcome. We currently have a group in
      <a href="/chattanooga">Chattanooga, TN</a>.</p>

    <p>
      <a href="/songs" class="btn btn-primary btn btn-block">
        <i class="fa-solid fa-music fa-fw"></i> Songs
      </a>
    </p>
    <p>
      <a href="/songbooks" class="btn btn-primary btn btn-block">
        <i class="fa-solid fa-book fa-fw"></i> Songbooks
      </a>
    </p>
    <p>
      <a href="/chattanooga" class="btn btn-primary btn btn-block">
        <i class="fa-solid fa-calendar fa-fw"></i> Chattanooga Meetup
      </a>
    </p>
    <p>
      <a href="https://groupme.com/join_group/99850258/7CqilUbm" class="btn btn-primary btn btn-block">
        <i class="fa-solid fa-comments fa-fw"></i> Group Chat
      </a>
    </p>
    <p>
      <a href="https://bsky.app/profile/mssband.bsky.social" class="btn btn-primary btn btn-block">
        <i class="fa-brands fa-bluesky fa-fw"></i> BlueSky
      </a>
    </p>
  </div>
  <div class="col-md-6">
    <bsky-embed username="mssband.bsky.social" limit="5"></bsky-embed>
  </div>

</div>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js"
  async></script>
