---
title: Songs
layout: layout
---

<p class="lead">These are the songs we learn and play together at our meetups.</p>

<div class="row justify-content-md-center">
  <div class="col-md-6">
    <p>
      <a href="/pdfs/mss-songbook.pdf" class="btn btn-primary btn-block">
        <i class="fas fa-download fa-fw"></i> Download Songbook
      </a>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz" class="btn btn-primary btn-block">
        <i class="fab fa-spotify fa-fw"></i> Spotify Playlist
      </a>
    </p>
  </div>
</div>

<div id="song-table"></div>

<%= javascript_include_tag 'bundle' %>
