---
title: Song List
layout: layout
---

<p class="lead">This is a collection of songs we learn and play together at our meet ups.</p>

<p>
  <a href="/pdfs/songbook.pdf" class="btn btn-primary btn-lg"><i class="fas fa-download fa-fw"></i> Download Songbook </a>
  <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz" class="btn btn-primary btn-lg"><i class="fab fa-spotify fa-fw"></i> Spotify Playlist </a>
</p>

<div id="song-table"></div>

<%= javascript_include_tag 'bundle' %>
