---
title: Song List
layout: layout
---

<p class="lead">This is a collection of songs we learn and play together at our meet ups.</p>

<p>A playlist of these songs is available on <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz">Spotify</a> and <a href="https://www.ultimate-guitar.com/user/playlist/shared?h=CZXbBj5q2-w1AMYO_MpRLFrg">Ultimate Guitar</a>. You can also <a href="/pdfs/songbook.pdf">download a PDF book of all the songs</a>.</p>

<p><a href="/pdfs/songbook.pdf" class="btn btn-primary"><i class="fas fa-download fa-fw"></i> Download Songbook </a></p>

<div id="song-table"></div>

<%= javascript_include_tag 'bundle' %>
