---
title: Song List
layout: layout
---

<p class="lead">This is a collection of songs for our meet ups to learn and play. A playlist of these songs are available on <a href="https://open.spotify.com/user/spilth/playlist/1NaTfvTr9vGRuLPFZ5vPPz">Spotify</a> and <a href="https://www.ultimate-guitar.com/user/playlist/view?id=2363477">Ultimate Guitar</a>.</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Listen</th>
      <th>Learn</th>
    </tr>
  </thead>
  <% data.songs.sort_by(&:title).each do |song| %>
    <tr>
      <td>
        <%= song.title %>
      </td>
      <td><%= song.artist %></td>
      <td>
        <% if song.spotify %>
          <%= link_to 'Listen', song.spotify %>
        <% end %>
      </td>
      <td>
        <% if song.chords %>
          <%= link_to 'Learn', song.chords %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
