---
title: Songbooks
---

<p class="lead">We have two songbooks with lyrics and chords that you can print out for yourself, if you'd like. Some folks also like to load these onto their tablet for use during our meetups.</p>

<p>
  <a href="/pdfs/mss-guitar.pdf" class="btn btn-primary btn-lg btn-block">
    <i class="fa-solid fa-file-pdf fa-fw"></i> Download Guitar Songbook
  </a>
</p>
<p>
  <a href="/pdfs/mss-ukulele.pdf" class="btn btn-primary btn-lg btn-block">
    <i class="fa-solid fa-file-pdf fa-fw"></i> Download Ukulele Songbook
  </a>
</p>
