---
title: Jam Locations
---

<div class="row">
  <div class="col-md-6">
    <p><a href="#manhattan" class="btn btn-primary btn-lg btn-block">Manhattan Location</a></p>
  </div>
  <div class="col-md-6">
    <p><a href="#brooklyn" class="btn btn-primary btn-lg btn-block">Brooklyn Location</a></p>
  </div>
</div>

    <h2 id="manhattan">Manhattan Location</h2>

    <p>For the jams in Manhattan, we meet in Washington Square Park in the oval bench area just east of the
      arch.</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.8524929495716!2d-73.99693355478206!3d40.731003629280714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQzJzUxLjciTiA3M8KwNTknNDcuNiJX!5e0!3m2!1sen!2sus!4v1554343257290!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!4v1554342093955!6m8!1m7!1sCAoSLEFGMVFpcFBEUGlxOHdrX3hGYU5EZXI2ZmJqNEZPYnloeGptOXl5Vm1VVUtD!2m2!1d40.73090116292421!2d-73.99642456322908!3f4.0418069930269525!4f0.6401872772832888!5f0.7820865974627469" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <h2 id="brooklyn">Brooklyn Location</h2>

    <p>For Brooklyn-based jam sessions we meet at the gazebo in Grandy Army Plaza, just outside of Prospect Park.</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d378.95026565106804!2d-73.97025702606267!3d40.67222820500407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1560390030582!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    <iframe src="https://www.google.com/maps/embed?pb=!4v1560390094743!6m8!1m7!1sx4TMRIBMGgZwU6UKqxG0Cw!2m2!1d40.67266152158886!2d-73.97003759309464!3f199.45994294838837!4f2.401773143042675!5f2.299968626952992" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
